<%- include("partials/header") %>

<h1><%= locals.title %></h1>
<h2><%= locals.gist %></h2>
<p><%= locals.username %> <%= locals.createdAt %></p>
<p><%= locals.scribble %></p>

<%- include("partials/footer") %>