<%- include("partials/header") %>

<h1>Scribble!</h1>
<form id="scribble-edit" enctype="multipart/form-data">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="<%=locals.title%>" required />

  <img src=<%= '/' + locals.imagepath %> />

  <label for="image">Title image</label>
  <input type="file" name="image" accept="image/*">

  <input type="text" id="imagepath" name="imagepath" value="<%='/' + locals.imagepath%>" hidden />

  <label for="gist">Gist</label>
  <input type="text" id="gist" name="gist" value="<%=locals.gist%>" required />

  <label for="scribble">Scribble</label>
  <textarea id="scribble" name="scribble" rows="4" cols="50" required><%=locals.scribble%></textarea>

  <label for="password">Password</label>
  <input type="password" id="password" name="password" required />

  <input type="submit" id="update" value="Update" />
  <input type="submit" id="delete" value="Delete" />
</form>

<%- include("partials/footer") %>